@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model OAuth2Fb.Models.Account

@{
    ViewBag.Title = "User Details"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome @Model.FirstName</h2>

<table>
    <tr><td>Facebook Id</td><td>@Model.Id</td></tr>
    <tr><td>Birthday</td><td>@Model.Birthday</td></tr>
    <tr><td>Name</td><td>@Model.Name</td></tr>
    <tr><td>First Name</td><td>@Model.FirstName</td></tr>
    <tr><td>Last Name</td><td>@Model.LastName</td></tr>
    <tr><td>Email</td><td>@Model.Email</td></tr>
</table>
